header{
    width: 100%; /* largura*/
    height: 138px; /* Altura*/
    background-color: var(--background-tertiary);
}

.logo{
    width: 68px;
    height: 64px;
    display: inline-block;
    margin: 37px 0 0 48px;
}