header{
    /*width: 100%; display flez j치 est치 fazendo o trabalho de largura*/
    /*height: 138px; padding j치 est치 fazendo o trabalho de Altura*/
    background-color: var(--background-tertiary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo{
    width: 68px;
    height: 64px;
    display: inline-block;
}

.navigation-menu{
    margin-top: 24px;
}

nav{
    display: none;

}
