/*pseudo classe - variaveis de css*/
:root{
    --background-primary-color: #ffffff;
    --background-primary-color: #f5f5f5;
    --background-tertiary: #000000;

    --button-primary-color: #8f0101;
    --button-secondary-color: #b81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
    
}

body, img, fieldset, legend, input, select, textarea, button {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
